@media (min-width: 1200px){
h4, .heading-4 {
    font-size: 24px;
    line-height: 1.25;
}
}
@media (min-width: 768px){
.box-typography {
    font-size: 108px;
}
.section-sm {
    padding: 60px 0;
}
}