.dropdown:hover>.dropdown-menu {
	display: block;
}
.dropdown-item:hover>.dropdown-menu {
	display: block;
}
.menu_header ul li{
	list-style-type:none;
	display: inline;
}

.navbar-nav .nav-link{display:inline-block;}

.ml-auto {display:inline-block!important;}

.dropdown>.dropdown-toggle:active {
	pointer-events: none;
}
.menu_logo img{
	max-width: 70%;
}
.header_part {
	padding: 40px 0px;
}
.logo_right ul li {
	padding: 1px 8px 5px;
	background: #595a5c;
	border-radius: 50%;
}
.logo_right ul li a {
	color: #fff;
	font-size: 12px;
}
.menu_bar ul li {
	padding: 0px 5px;
}
a.nav-link {
	text-transform: uppercase;
	font-size: 16px;
}
a.dropdown-item {
	text-transform: uppercase;
	font-size: 14px;
}
.align-middle {
	padding: 25px 100px;
}
.logo_right{
	padding: .5rem 1rem;
}
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#2d2e33;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
.slider_text {
    float: right;
    margin: 200px -60px;
}
.slider_text h2 {
    font-size: 28px;
    max-width: 60%;
    color: #fff;
    white-space: normal;
	margin-bottom: 20px;
}
a.btn-slider {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    border: 1px solid;
    padding: 2px 5px;
}
a.btn-slider:hover {
    background-color: #b8958a;
    border: 1px solid #b8958a;
}
.about_section_img{
	text-align: center;
}
.about_section_img img {
    height: 75px;
}
.about_btn {
    text-align: center;
}
.about_btn a{
	border-bottom: 1px solid;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
    padding: 10px 20px;
    border-width: 1px;
    font-size: 10px;
    letter-spacing: .25em;
    color: #b8958a;
}
.about_btn a:hover{
	background: #b8958a;
	color: #fff;
	}
section.about_part {
    padding: 80px 0;
}
.about_description {
    padding: 20px;
}
.about_description h2 {
    margin-bottom: 20px;
}
.about_description p {
    width: 42%;
    margin: 0 auto;
    padding: 15px 0;
    line-height: 30px;
    color: #58595b;
}
.shop-now{
	background: #d7cbc0;
	padding: 90px 0px;
}
.shop_heading{
	text-align: center;
	padding: 50px 0px;
}
.shop_heading h2,.shop_heading p{
	font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-transform: none;
    color: #8e655b;
}
.shop_heading p{
	font-size: 18px;
    width: 53%;
    margin: 0 auto;
    padding: 30px 0;
}
.product img {
    max-width: 100%;
}
.container_edit {
    max-width: 85%;
}
.product_description{
	text-align: center;
	margin-top: 20px;
}
.product_title p {
    color: #8e665b;
    font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.2em;
    font-size: 30px;
}
.product_button a {
    padding: 8px 30px;
    background-color: #8e665b;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #8e665b;
}
.product_button a:hover {
    background-color: #d6cabf;
    color: #88675d;
    border: 1px solid #8e665b;
}
.product_button {
    margin-top: 5%;
}
.quote_block {
    padding: 150px 0px;
    text-align: center;
    background-image: url(/images/quote_bg.png);
}
.quote_part h3 {
    padding-bottom: .5em;
    font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0em;
    line-height: 1.3em;
    width: 61%;
    color: #58595b;
    margin: 0 auto;
    text-transform: none;
}
.quote_part p{
	font-family: proxima-nova;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 4em;
    color: #58595b;
    text-transform: uppercase;
}
.testimonial{
	padding: 80px 0;
}
.make_space{
	padding: 50px 0;
}
.sqs-block-content h2 {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-transform: none;
}

.carousel {
	margin: 40px auto;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
    color: #666;
    text-shadow: none;
	top: 0px;
}
.carousel-control i {
	font-size: 16px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right {
	left: auto;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 0;
	margin: 1px 4px;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #ff5555;    
    border: 5px double;    
}
.testimonial_part p {
    font-family: proxima-nova;
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 4em;
    color: #58595b;
    text-transform: uppercase;
}
.testimonial_part h3 {
    font-family: baskerville-urw;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.8em;
    text-transform: none;
    color: #58595b;
}
.gift_section {
    background-image: url(/images/gift.jpg);
    background-position: right;
    padding: 150px 0;
}
.special-gift h2 {
        font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.15em;
    text-align: inherit;
    color: #2d2e33;
}
.button-text a {
    font-family: "Merriweather", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    font-style: italic;
    color: #58a9dd;
    text-decoration: none;
}
.button-text a:hover {
    color: #2d2e33;
}
.special-gift {
    padding: 64px 0px 101px 0px;
}

footer.footer {
    background: #f6f7fa;
}
li {
    list-style: none;
}
.col-lg-3.footer_col {
    margin-top: 46px;
}
.col-lg-6.footer_col {
    margin-top: 46px;
}
.col-sm-4.footer_col {
    margin-top: 46px;
}
ul.contact_list {
       padding-left: 0px;
}
.copyright {
    margin: 0px auto;
}
ul.d-flex.flex-row.align-items-center.justify-content-start {
    padding: 0px;
   }
 ul.d-flex.flex-row.align-items-center.justify-content-start li {
    margin: 5px;
}

.sqs-block-content h3 {
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 4px;
    line-height: 2em;
    color: #000000;
}
ul.contact_list li p a{
    color: #58595b;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(88,89,91,.3);
    -webkit-transition: border-color .15s ease-out,color .15s ease-out;
    -moz-transition: border-color .15s ease-out,color .15s ease-out;
    -ms-transition: border-color .15s ease-out,color .15s ease-out;
    -o-transition: border-color .15s ease-out,color .15s ease-out;
    transition: border-color .15s ease-out,color .15s ease-out;
}
ul.contact_list li p a:hover{
    color: rgba(88,89,91,.6);
    border-color: rgba(88,89,91,.15);
}
ul.contact_list p {
    font-family: baskerville-urw;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.8em;
    text-transform: none;
    color: #58595b;
}

/*--------------------------------------------------------------

## Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  position: relative;
  padding: 10px 0 10px;
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.15); }
  .breadcrumbs:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: 50% 50%;
    opacity: 1;
    z-index: 1; }
  .breadcrumbs .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10; }
  .breadcrumbs__title, .breadcrumbs__items {
    padding-left: 1.071rem;
    padding-right: 1.071rem; }
    .breadcrumbs__title .breadcrumbs__browse,
    .breadcrumbs__title .breadcrumbs__wrap, .breadcrumbs__items .breadcrumbs__browse,
    .breadcrumbs__items .breadcrumbs__wrap {
      text-transform: capitalize; }
  .breadcrumbs__title .page-title {
    margin: 0;
    text-transform: capitalize; }
  .breadcrumbs__browse {
    display: inline-block;
    margin-right: .5em; }
  .breadcrumbs__wrap {
    margin: 5px 0;
    display: inline-block; }
  .breadcrumbs__item {
    display: inline-block; }
    .breadcrumbs__item-sep {
      margin: 0 1.5px; }
    .breadcrumbs__item-link {
      text-decoration: none; }
      .breadcrumbs__title .page-title, .breadcrumbs__item a:hover, .breadcrumbs__item .breadcrumbs__item-target {
    color: #58a9dd;
}
.breadcrumbs__title .page-title, .breadcrumbs__browse, .breadcrumbs__item, .breadcrumbs__item a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
}
.breadcrumbs__title .page-title, .breadcrumbs__browse, .breadcrumbs__item, .breadcrumbs__item a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
}

.breadcrumbs__browse, .breadcrumbs__item, .breadcrumbs__item a {
    color: #aaaaaa;
}
.newsletter-form-wrapper .newsletter-form-field-element {
    background: none;
    padding: 30px 40px 10px 15px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #313131;
    outline: none;
    float: left;
}
button.newsletter-form-button {
    border-width: .3px !important;
    background: #f6f7fa;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
    letter-spacing: 3px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    outline: none;
    border-color: black;
    font-weight: bold;
}
button.newsletter-form-button:hover, .social i.fa:hover {
    opacity: .8;
    cursor:pointer;
}
.social i.fa {
    background: #222;
    padding: 5px 7px;
    color: #e4d8d8;
    font-size: 12px;
    border-radius: 50%;
}
.newsletter-form-field-label {
    display: none;
}
.newsletter-form-button-wrapper {
    display: inline-block;
    width: auto;
    margin: 12px 0 0 0;
    padding: 6px 3px;
}
.contact_list a {
    font-family: baskerville-urw;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.8em;
    text-transform: none;
    text-decoration: none;
   }
.icon.animation- {
    background-color: #58a9dd;
    color: #fff;
    padding: 20px 27px;
    font-size: 30px;
    border-radius: 50%;
}
.icon-box-icon.col-sm-4 {
    padding: 26px 19px;
}
.container.column-gap-default {
    padding: 50px 100px;
}
h6.icon-box-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.15em;
    text-align: inherit;
    color: #2d2e33;
}
p.icon-box-description a, p.icon-box-description {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
    color: #000000;
}
.widget-container {
    padding: 0px 31px;
}
input.btn.contact_button {
    padding: 8px 30px;
    background-color: #fff;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #58a9dd;
}
input.btn.contact_button:hover {
    background-color: #58a9dd;
    color: #fff;
    border: 2px solid #58a9dd;
    }